{
  "extends": ["wesbos"],
  "rules": {
    "no-console": 1,
    "semi": 0,
    "quotes": ["error", "backtick"],
    "trailingComma": 0,
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "tabWidth": 2,
        "arrowParens": "avoid",
        "semi": false
      }
    ]
  }
}
